*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%; 
    overflow-y: hidden;
}

header{
    font-style:italic;
    color: #eff0f1e7;
    font-weight:900;
    text-decoration: double;
    text-decoration-line: underline;
    text-transform: uppercase;
    display: flex;
    align-items: end;
    gap: 2%;
    background-color: #1c1c1c69;
    padding-bottom: 1%;
}

body{
    box-sizing: border-box;
    background-image: url("./Imagenes/fondo4.png");
    background-size:auto;
    background-position:right;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

/* Imagen */
.logo{
    padding-top: 1%;
    margin-left: 1%;
    width: 5%;
} 

/*ingrese texto y texto desencriptado*/
main{
    display: flex;
    align-items:end;
    margin: 5%;
    gap: 20%;
    width: 90%;
}

    /*section 1*/
    /*.inicio{}*/

        /*ingrese texto*/
        .ingresar-texto{
            display: flex;
            align-items:end;
            justify-items:start;
            gap: 1%;
        }

            .text-area{
                background: rgba(13, 8, 8, 0.853);
                color: #bfc1c5cd;
                border:double;
                border-radius: 24px;
                margin-top: 10%;
                padding: 2%;
                text-transform: lowercase;
                width: 95%;
            }

            ::placeholder{color: #bfc1c5cd;}
            .text-area:focus{
                outline: none;
            }

            .ojosazules{
                width: 8%;
                height: 8%;
            }

        /*solo minusculas y sin acentos*/
        .informacion{
            color: #dbdfe3;
            font-size: 0.5625rem;
        }

        /*botones encriptar desencriptar*/
        .botones{
            display: flex;
            margin-top: 18px;
        }
        
            .boton-desencriptar{
                background:#636467;
                border: 2.5px solid rgb(77, 77, 78);
                border-radius: 24px;
                color: #0c0c0c;
                cursor: pointer;
                margin-left: 2.5%;
                width: 45%;
            }
        
            .boton-encriptar{
                background-color: #0a3871;
                border: #06264e;
                border-radius: 24px;
                color: white;
                cursor: pointer;
                width: 45%;
            }

    /*section 2*/
    .textos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        /*mensaje trabajado*/
        .mensaje{
            background: rgba(13, 8, 8, 0.853);
            background-image: url("./Imagenes/fondo2.jpg");
            background-size: cover;
            background-position:right;
            background-repeat: no-repeat;
            border: double;
            border-radius: 24px;
            color: #bfc1c5cd;
            margin-top: 20px;
            padding-left: 5%;
            width: 85%;
        } 

        .mensaje:focus{
            outline: none;
        }


        /*botones copiar pegar*/
        .botones-copiar{
            display: flex;
            justify-content: center;
            gap: 10%;
            margin-top: 9%;
            width: 100%;

        }

            .boton-copiar{
                display: none;
                background: #636467;
                border: 2.5px solid rgb(77, 77, 78);
                border-radius: 24px;
                color: #0c0c0c;
                cursor:grabbing;
                padding: 2%;
                width: 40%;
                justify-content: center;
            }

            .boton-pegar{
                display: none;
                background-color: #0a3871;
                border: 2.5px solid #06264e;
                border-radius: 24px;
                color: #ffffff;
                cursor:cell;
                padding: 2%;
                width: 40%;
                justify-content: center;
            }

        
        /*boton reiniciar*/
        .botones-reiniciar{
            width: 100%;
            display: flex;
            justify-content: center;
        }

            .boton-reiniciar{
                display: none;
                background-color: #47474bc9;
                border: 2.5px solid #000000f4;
                border-radius: 24px;
                color: #ffffff;
                cursor:alias;
                padding: 2%;
                margin-top: 14%;
                width: 90%;
                justify-content: center;
                }

/*footer*/
.pie-de-pagina{
    display: flex;
    justify-content: right;
    gap: 4%;
    align-items: baseline;
    background-color: #636467;
    margin-top: 14%;
    padding-top: .5%;
    padding-right: 5%;
    padding-bottom: .5%;
    font-size: .5938rem;
}

    .redes{
        height: 1rem;
        width: 2.2rem;
    }


/*responsividad para tablet*/
@media(max-width:1025px){
    *{
        font-size: 24px;
    }
    
    body{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content:end;
        align-items:center;
        gap:initial;
    }

    main{
        flex-direction:column;
        align-items: start;
        width: auto;
        height: auto;
    }

    .pie-de-pagina{
        margin-top: 40%;
    }
}

/*responsividad para celular*/
@media(max-width:769px){
    *{
        font-size: 14px;
    }

    body{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content:end;
        align-items:center;
        gap:initial;
    }

    main{
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .pie-de-pagina{
        margin-top: 45%;
    }
}

